#cloud-config
users:
  - name: ubuntu
    ssh_authorized_keys:
      - ${ pub_key }
    groups: users, admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

  - name: webadmin
    gecos: "Web site"
    ssh_authorized_keys:
      - ${ pub_key }
    sudo: false
    groups: users
    shell: /bin/bash

package_update: true
# package_upgrade: true# too long
