[Unit]
Description=FrontService
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/front
ExecStart=bash -c "npm start"

[Install]
WantedBy=multi-user.target
